<div class="fade-in">
<h1 style="margin-bottom:20px"> Tarifas </h1>
  <h4>Un día por semana:</h4>
  <p> 30 EUR</p>
  <h4>Dos días:</h4>
  <p> 50 EUR</p>
  <h4>Matrícula (incluye seguro):</h4>
  <p> 20 EUR</p>
  <h4>Entrada puntual (open park, viernes): </h4>
  <p>6 EUR por 2 horas</p>
  <p style="margin-top:20px">El primer día es de prueba i es <em><strong>gratuito</strong></em>, basta con venir al gimnasio a la hora que toca y decir que vienes a probar. Una vez hecha la prueba, se entregará un
  formulario para apuntarse, junto con la normativa de las clases.</p>
  <p>Recordad que <em><strong>todo el mundo</strong></em> puede apuntarse, sin importar edad, sexo o
  condición física previa.</p>
</div>