 <div class="fade-in">
   <h1>Sobre nosotros</h1>
 
 <p>OurPark somos una organización de practicantes de parkour en Barcelona dedicados a la enseñanza y difusión de este deporte.</p> 
<p>Desde hace ya tres años decidimos convertir nuestra afición en algo más, utilizando nuestra experiencia para enseñar a las nuevas generaciones de practicantes cómo entrenar parkour de forma segura, responsable y eficaz.</p>
<p>Por ese motivo desde Ourpark ofrecemos clases de Parkour en diferentes localizaciones y para todos los niveles y edades.</p>

<p>También hacemos talleres puntuales, alquiler de material, y contamos entre nuestros profesores y alumnos con especialistas en exibiciones, publicidad y otras actividades. </p>

<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
    <img alt="Guillem" src="assets/instructors/Guillem.jpg" />
  </div>
  <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
    <img alt="Josep" src="assets/instructors/Josep.jpg" />
  </div>
  <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
    <img alt="Artur" src="assets/instructors/Artur.jpg" />
  </div>
   <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
    <img alt="Aral" src="assets/instructors/Aral.jpg" />
  </div>
</div>
 </div>
