 <div class="fade-in">
  <h1>Instalaciones</h1>

  <p>El gimnasio Ourpark es el primer y único espacio dedicado enteramente al parkour de Barcelona. Són 650 metros cuadrados con material específico para practicantes de parkour de todos los niveles, desde primerizos a expertos.</p>
  <p>El gimnasio se encuentra en Travessera de les corts, 27 bis local A; Barcelona. Esta muy bien comunicado por transporte público, al lado del metro Collblanc (L5 y L9) i buses H8, D20 y 54, muy cerca del Camp Nou.</p>
  <p>Para acceder al gimnasio hay que entrar al interior de la manzana, es la primera puerta a la derecha.</p>

  <app-map mapId="ourpark" lat="41.3767683" lng="2.119279" zoom="18"></app-map>

  <div class="virtual-visit col-md-12 col-lg-12 col-sm-12 col-xs-12 text-lg-center text-md-center text-sm-center text-xs-center">
    <button type="button" class="btn btn-primary" routerLink="/virtual-visit" (click)="setScrollTo250()" >
        <i class="fa fa-eye" aria-hidden="true"></i>
        VISITA EN REALIDAD VIRTUAL / 360º
    </button>
  </div>

 </div>