 <div class="fade-in">
  <h1>Instalaciones</h1>

  <app-map mapId="barcelona" lat="41.3851" lng="2.1734" zoom="13"></app-map>
 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus metus nisi, ultricies nec justo non, euismod feugiat nibh. Nunc sodales nisi posuere lectus tempus, eget consequat justo finibus. Maecenas mollis gravida placerat. Praesent sollicitudin faucibus neque, ut vehicula lectus interdum vel. Nullam quis risus sed arcu placerat aliquet quis sed erat. Duis pellentesque ex in enim mattis sagittis. Praesent sit amet euismod tortor. Quisque iaculis, nulla ut finibus scelerisque, dolor quam convallis odio, ut fermentum justo tellus non ante. Aenean mollis ut ante non cursus. Quisque molestie mi sed orci elementum ullamcorper. Integer blandit ac lacus sed ornare. Quisque et auctor ligula. Vestibulum congue in augue non hendrerit. Aliquam at porttitor enim.
  </p><p>

  <app-map mapId="madrid" lat="40.4165000" lng="-3.7025600" zoom="13"></app-map>

  Phasellus eu magna elit. In rhoncus, orci id vulputate faucibus, elit odio laoreet arcu, id vehicula erat neque eget mauris. Ut non tristique dolor, sit amet condimentum dui. Vestibulum efficitur vel ex at venenatis. Duis facilisis ante dui, et tincidunt ante feugiat bibendum. Aliquam erat volutpat. Suspendisse maximus elementum sodales. Etiam posuere scelerisque elit, vel ullamcorper dui congue at.
  </p><p>

  Aliquam eget varius nisi. Donec molestie ex a eros molestie mollis. Vestibulum vestibulum tempus lorem, vel faucibus justo pellentesque ac. Praesent ac finibus dui, a convallis felis. Sed finibus, orci vel imperdiet lobortis, enim ante congue nisl, at tristique felis purus in justo. Vestibulum et pulvinar eros, sit amet aliquam odio. Aliquam maximus semper augue, eget ultricies massa mattis non. Mauris eu imperdiet dui. Nulla eleifend magna et diam efficitur, et commodo nibh imperdiet. Proin lobortis risus dui, eu ultrices risus vestibulum nec. Sed eleifend semper massa, ac consequat magna lacinia et. Suspendisse venenatis, libero at eleifend condimentum, sem velit lacinia arcu, suscipit consectetur odio nibh a ipsum. Integer urna magna, scelerisque sed laoreet nec, tempor laoreet nibh.
  </p><p>

  Morbi sollicitudin gravida ex vitae molestie. Donec vel dui elementum, rhoncus tortor venenatis, laoreet massa. Quisque at purus pharetra, feugiat neque in, volutpat mi. Pellentesque condimentum dui et nunc cursus venenatis. Aenean condimentum vitae dolor at tristique. Aenean a diam at nisi blandit faucibus eget sed tortor. Integer a arcu eu metus congue faucibus.
  </p><p>

  Quisque in ex mauris. Etiam commodo elit vitae vehicula blandit. In hendrerit dapibus tellus ut porta. Quisque blandit fermentum dolor ac imperdiet. Nulla facilisi. Sed dapibus nulla vitae magna semper, vel pretium ex mattis. Etiam accumsan blandit augue, ac blandit metus molestie in.
  </p>
 </div>