<div class="fade-in">
   <h1>Clases</h1>

<div class="alert alert-warning" role="alert">
  <strong>IMPORTANTE:</strong> Las clases empiezan el dia <strong>3 de Octubre</strong>.
</div>

 <p>
   Actualmente ofrecemos clases para todos los niveles, solo diferenciamos entre menores y mayores de 14 años. No es necesario tener una buena condición física ni experiencia en este tipo de deportes. En ourpark trabajamos con grupos reducidos que nos permiten adaptar las clases a las necesidades de cada alumno. Estos son los horarios:
</p>

<app-calendar [events]="classes"
              defaultView="agendaWeek" 
              [allDaySlot]="false"
              scrollTime="18:00:00"
              minTime="18:00:00"
              class="calendar"
              maxTime="22:00:00"
              columnFormat="dddd"
              [weekends]="false"
              firstDay="1"
              locale="es">
</app-calendar>
<p style="margin-top:20px">
  También ofrecemos clases en el gimnasio Claror Marítim. Estas clases están organizadas por <a href="http://www.claror.cat/maritim" target="_blank">Claror Marítim</a> en colaboración con Ourpark, en sus instalaciones en Passeig Marítim, 33, Barcelona, los lunes y miercoles de 19:00 a 21:00.
</p>

</div>